:root {
    --primary-color: #ffffff;
    --primary-color-dark: rgb(255, 187, 133);
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #ffffff;
    --extra-light: rgb(0, 0, 0);
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
nav {
    border-bottom-right-radius:12px;
    border-bottom-left-radius: 12px;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 11%;
    background: #000000;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.5s;
}
nav .logo a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.5s;
    border-top: 2px solid var(--secondary-color);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
    transition: 0.3s;
}
header a{
    text-decoration: none !important;
}
.accueil{
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.text_accueil{
    text-transform: lowercase;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_profil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue !important;
    width: 50%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 5px 15px 25px lightblue !important;
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.5), rgba(255, 165, 0, 0.5));
    padding: 2% 5%;
    margin: 1%;
}
.image_profil img{
    width: 460px;
    height: 460px;
    border-radius: 50%;
    animation: upAndDown 3s ease infinite;
    box-shadow: 0 0 50px gold;
}
@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
}
.nom{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 70px;
}   
.statut{
    font-size: 25px;
    color: brown;
}
.apropos{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.apropos_intro{
    transition: ease-in-out 1s;
    font-size: 21px;
    font-weight: lighter;
    color: gray;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contenu_apropos{
    margin: 1%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightblue !important;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.titre_apropos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre_style{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bolder;
}

.portefolio{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.portefolio_titre{
    margin: 1%;
    width: 50%;
    height: 146vh;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 15px 10px lightblue !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portefolio_titre_style{
   font-size: xx-large;
   font-weight: bolder;
   text-transform: uppercase
}
.portefolio_contenu{
    padding-top: 2%;
    height: 146vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projets{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 2%;
    box-shadow: 1px 1px 50px black;
    border: 3px solid black;
}
.titre_projet{
    text-transform: uppercase;
    font-weight: bolder;
}
.contenu_projet{
    text-align: justify;
}
footer{
    align-items: center;
    padding: 0 40px;
    margin-top: 1.2%;
    height: 35vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.pro{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nom_footer:hover{
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    transition: 0.5s;
    border-top: 1px solid var(--secondary-color);
}
.nom_footer{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
}
.email{
    display: flex;
    justify-content: space-between;
}
.email a{
    color: white;
    text-decoration: none;
}
.email a:hover{
    color: var(--secondary-color);
    transition: 0.5s;
    border-top: 1px solid var(--secondary-color);
    border-bottom:1px solid var(--secondary-color); ;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.social h2{
    font-weight: bolder;
    text-transform: uppercase;
}
.reseaux_sociaux{
    display: flex;
    flex-direction: row;
}
.reseaux_sociaux a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}




@media (width < 1000px) {
    nav .checkbox {
        display: block;
    }
     nav #check:checked ~ ul {
        left: 0;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 82px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    ul li a {
        font-size: 1.25rem;
    }   


    main{
       display: flex;
       flex-direction: column;
      margin-left: 5%;
    }
    .accueil{
        width: 100vw;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .text_accueil{
        height: 10vh;
        width: 100vw;
    }
    .statut{
        font-size: 15px;
        color: brown;
    }
    .image_profil{
        margin: 2%;
        width: 100vw;
        height: 40vh;
}
.nom{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
} 

.image_profil img{
    width: 260px;
    height: 260px;
}
.apropos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}
.titre_apropos{
    margin: 2%;
    width: 100vw;
}
.titre_style{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}

.apropos_intro{
    margin: 2%;
    height: 10vh;
    width: 100vw;
    transition: 1.0s;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.contenu_apropos{
    transition: 1.0s;
    margin: 2%;
    width: 100vw;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.portefolio{
    flex-direction: column;
}

.portefolio_titre{
    margin: 2%;
    width: 100vw;
    height: 6vh;
    background-color: white;
    box-shadow: none !important;
}
.portefolio_titre_style{
    font-size:x-large;
    background-color: white;
    box-shadow: 0 0 0  white;
}
.portefolio_contenu{

    margin: 5% 0;
    background-color: lightblue;
    width: 100vw;
    height: 110vh;
    box-shadow: 5px 15px 10px lightblue !important;
}
.projet{
    background-color: white;
}
footer{
    padding: 5%;
    width: 118vw;
   flex-direction: column;
}
}
