:root {
    --primary-color: #ffffff;
    --primary-color-dark: rgb(255, 187, 133);
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #ffffff;
    --extra-light: rgb(0, 0, 0);
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
nav {
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 12%;
    background: #000000;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.5s;
}
nav .logo a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.5s;
    border-top: 2px solid var(--secondary-color);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
    transition: 0.3s;
}
header a{
    text-decoration: none !important;
}
.accueil{
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.text_accueil{
    text-transform: lowercase;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  start;
    padding: 0 21px;
}
.image_profil{
   background-color: lightblue !important;
   width: 50%;
   height: 100vh;
   border-radius: 10px;
   box-shadow: 5px 15px 25px lightblue !important;
}
.image_profil img{
    padding: 0 30px;
    width: 560px;
    height: 560px;
    border-radius: 50%;
    animation: upAndDown 3s ease infinite;
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.5), rgba(255, 165, 0, 0.5));
    box-shadow: 0 0 50px gold;
}
@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
}
.nom{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 70px;
}   
.statut{
    font-size: 25px;
    color: brown;
}
.apropos{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.apropos_intro{
    transition: ease-in-out 1s;
    font-size: 21px;
    font-weight: lighter;
    color: gray;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.contenu_apropos{
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightblue !important;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.titre_apropos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre_style{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bolder;
}

.portefolio{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.portefolio_titre{
    width: 50%;
    height: 146vh;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 15px 10px lightblue !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portefolio_titre_style{
   font-size: xx-large;
   font-weight: bolder;
   text-transform: uppercase
}
.portefolio_contenu{
    padding-top: 2%;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.projets{
    padding: 0 1%;
    display: flex;
    flex-direction: row;
}
.projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 2%;
    box-shadow: 1px 1px 50px black;
    border: 3px solid black;
    width: 400px;
    height: 400px;
}
.titre_projet{
    text-transform: uppercase;
    font-weight: bolder;
}
.contenu_projet{
    text-align: justify;
}
footer{
    align-items: center;
    padding: 0 40px;
    margin-top: 1.2%;
    height: 30vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (width < 780px) {
    nav .checkbox {
        display: block;
    }
    .image img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 3%;
    }
    .title,.description{
        text-align: center;
    }
    .section{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 82px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section__container {
        width: 100%;
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }
    .contact {
        flex-direction: column;
        gap: 10px;
    }

    .contact-info {
        width: 100%;
        padding: 2% 0;
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .social-networks{

    }

}
